.recipeCard{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    font-family: Polysans, sans-serif;
    color: #393e46;
}
.recipeName{
    font-size: 24px;
    margin-bottom: 12px;
}
.recipeImage{
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 12px;
}
.recipeDetails{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recipeInstructions{
    padding: 0px;
    border-radius: 4px;
    color: #adaab0;
}
.recipeInstructions ol {
    margin-left: 0px;

}
.recipeInstructions li{
    margin: 8px 0px;
}
